<h1>{{ title }}</h1>

<h2>{{ heading }}</h2>

<p>Importe: {{ dinero | currency:'EUR' }}  </p>
<div>
  Hola
  <p>Esto es un parrafo de ejemplo</p>
</div>

<div>
  <label for="search">Filtro:</label>
  <input id="search" type="text" [(ngModel)]="searchText" placeholder="escribe para filtrar" />
</div>


<app-weather *ngFor="let cityInfo of data | searchBy:searchText"
  [city]="cityInfo.city"
  [temperature]="cityInfo.temperature"
  (temperatureChange)="cambioTemperatura($event)"
>
</app-weather>



<ul>
  <li *ngFor="let msg of log">{{ msg }}</li>
</ul>
