<h1>{{ title }}</h1>

<h2>{{ heading }}</h2>

<nav>
  <a [routerLink]="['/']">Start</a> |
  <a *ngIf="session.hasRole('Admin')"  [routerLink]="['/hello']">Bienvenida</a> |
  <a *appRole="'Admin'" [routerLink]="['/places']">Lugares</a>

  <!-- appOperation="save" -->

</nav>

<main>
  <router-outlet></router-outlet>
</main>

<hr/>
<footer>
  &copy; Telefonica 2020.
</footer>

<button #b1>Pulsame</button>
<!--

<p *ngIf="dinero">Importe: {{ dinero | currency:'EUR' }}  </p>
<div>
  Hola
  <p appMyHighlight="yellow">Esto es un parrafo de ejemplo</p>
</div>

<app-place-list></app-place-list>

<div *ngIf="obj; else noObjeto">
  <p>Hola {{obj.name}}</p>
</div>
<ng-template #noObjeto>
   No se encontro la persona.
</ng-template>


<div>
  <label for="search">Filtro:</label>
  <input id="search" type="text" [(ngModel)]="searchText" placeholder="escribe para filtrar" />
</div>

<ul>
  <li *ngFor="let cityInfo of data; let i = index; let f = first; let l = last"
      [class.even]="i % 2 === 1"
      [class.last]="l">
    <div  >{{ i }}. {{ cityInfo.city }}
        ¿Es el primero? {{ f ? 'Si' : 'No'}}
        ¿Es el ultimo? {{ l ? 'Si' : 'No'}}
    </div>
  </li>
</ul>

<ul>
  <li *ngFor="let msg of log">{{ msg }}</li>
</ul> -->
